<% if object.errors.any? %>
  <div id="error_explanation">
      <%errors = object.errors%>
      <div class="alert alert-danger">
        <%= pluralize(errors.count, "error")%> were encountered, which prevented this user from being saved: 
        <ul>
          <% errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <%end%>
        </ul>
      </div>
  </div>
<% end %>